<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Welcome</title>
  <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/css/textview.css" rel="stylesheet">
</head>
<body>
<div class="container">

  <form method="POST" commandName="sendTextForAnalysis">
    <table>
      <tr>
        <td><p>Input Your Text</p></td>
      </tr>
      <tr>
        <td>
          <textarea th:field="*{textareaField}"></textarea></td>
        <td colspan="3">
          <input type="submit" />
        </td>
      </tr>
    </table>
  </form>

  <script src="webjars/jquery/1.9.1/jquery.min.js"></script>
  <script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="static/js/textview.js"></script>
</div>
</body>
</html>