<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content="String Edits Test Interface"/>
  <meta name="author" content="StringEdits"/>

  <title>String Edits - Test Interface</title>

  <link rel="stylesheet" href="/webjars/bootstrap/3.3.6/css/bootstrap.min.css">

  <link th:href="@{/css/textview.css}" rel="stylesheet"/>
</head>

<body>

<div th:replace="navbar :: navbar"></div>

<div class="container-fluid">

  <div layout:fragment="content">
    <!-- contents appears here -->
  </div>

</div>

<script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>

</body>
</html>